.center {
    margin: auto;
    border: 3px solid;
    width: 60%;
    padding: 10px;
    text-align: center;
}

 img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#test {
    position: absolute;
    right: 0;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    #test {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
  }